* {
    box-sizing: border-box;
}

.mainbody {
    font-family: sans-serif;
    border: solid 1px black;
    width: 96%;
    margin: 10px auto;
    font-size: 16px;
}

.navbar {
    background-color: #DDDDDD;
    display: flex;
    align-content: space-between;
}

.logo {
    padding: 0px 60px;
    flex: 1;
}

.logo img {
    width: 100%;
    max-width: 7rem;
    min-width: 3rem;
}

.container {
    flex: 1;
    display: flex;

}

.tab {
    flex: 1;
    color: #007694;
    font-size: 1.5rem;
    text-align: center;
    padding: 35px 15px;

}

.tab:hover {
    background-color: black;
    color: white;
    transition: all 0.2s ease-in-out;
}

.banner {
    background-color: #06A3CC;
    padding: 30px 0px;
    overflow: hidden;
    text-align: center;
    height: 200px;
}

.b {
    display: inline-block;
    padding: 2%;
    margin: 0% 6%;
    font-size: xx-large;
    font-weight: 900;
}

.banner b {
    color: white;
    font-size: xxx-large;
}

.middle {
    align-self: center;
    width: 83%;
    margin: 0px 5px 0px 60px;
    display: inline-block;
    height: 440px;
}

.left {
    width: 40%;
    margin: 10px 0px;
    position: relative;
    display: inline-block;
    height: 99%;
}

.bigbox {
    width: 100%;
    height: 97%;
    display: inline-block;
    background-color: #FFE469;
}

.smallbox {
    display: inline-block;
    background-color: #D39ED6;
    width: 60%;
    height: 70%;
    position: absolute;
    top: 20px;
    left: -30px;
}

.right {
    width: 59%;
    float: right;
    height: 100%;
}

.formbox {
    background-color: #ED8719;
    width: 100%;
    margin: 10px 0px;
    height: 48%;
    padding: 15px;
}

.formbox input,
select {
    background-color: #F8A549;
    border: 0.1px solid #F8AF60;
    box-shadow: #F8AF60;
    color: white;
    margin: 9px;
    padding: 5px 10px;
    width: 60%;
    box-sizing: border-box;
}

#submit {
    width: max-content;
    padding: 10px 30px;
}

.extrabox {
    background-color: #8AE33B;
    height: 39%;
    width: 100%;
    padding: 0px 15px;
    margin: 10px 0px;
}

.footer {
    background-color: #007694;
    text-align: center;
    color: white;
    width: 100%;
    padding: 24px 0px;
    font-size: small;
}

.footer span {
    padding: 0px 10px;
}