* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
li{
    list-style-type: none;
}
ul{
    padding: 0;
}
.page-padding{
    padding: 100px auto;
}
.mainbody {
    background: #FBFAFF;
    font-family: 'Poppins', sans-serif;
    color: #514460;
}

.navbar {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.logo img {
    width: 100%;
    max-width: 210px;
}

.nav {
    align-items: center;
    justify-content: space-around;
    padding: 10px auto;
    flex-wrap: nowrap;
}
.nav ul{
    display: flex;
}
.nav li{
    flex: 1;
}
.nav-item {
    padding: 20px ;
    margin: 0px;
    font-size: medium;
    cursor: pointer;
}

.nav-item:hover,
.portfolio-menu span:hover {
    background: #F6F7FC;
}

.nav-icon {
    max-width: 2.5rem;
    flex: 1;
    border-radius: 50px;
}

.select {
    color:#514460;
    margin-right: 20px;
    border: none;
    background: none;
}

.banner {
    background: url(images/img-1.jpg)  center/cover;
}

.overlay {
    background: rgba(17, 18, 49, 0.9);
    padding: 100px 100px 50px 100px ;
}

.text-center {
    text-align: center;
    color: white;
}

.hero-title {
    font-size: 4.5rem;
    font-weight: 100;
    padding-top: 130px;
    line-height: 1.2;
    margin: -0.45% 0% 0% 0%;
}

.hero-subtitle {
    font-weight: 300;
    margin-top: 30px;
}

.btn {
    padding: 15px 40px;
    border-radius: 50px;
    font-weight: 600;
    cursor: pointer;
    margin: 30px 10px 70px 10px;
    font-size: small;
}

.btn-outline {
    border: 2px solid white;
    background: none;
    color: white;
}

.btn2-outline:hover,
.btn-outline:hover {
    background: #D0A904;
    border: 2px solid #D0A904;
    color: white;
}

.down-arrow {
    width: 20px;
    margin-top: 55px;
}

.page2 {
    color: #514460;
    margin: 100px auto;
}
.page-display{
    display: flex;
}

.content-left {
    flex: 0.8;
    padding: 10px;
}

.content-left h2 {
    font-size: 4rem;
    font-weight: 200;
}

.content-left p {
    margin: 30px 0px;
    font-size: large;
    opacity: 0.5;
    width: 90%;
}

.content-right {
    flex: 1.2;
}

.highlight {
    font-weight: 700;
}

.point {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 30px 0;
    font-size: large;
    font-weight: 400;
}

.point img {
    width: 7%;
}
.content-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.services-section {
    background: url(images/img-2.jpg) center/cover;

}

.section-title {
    text-align: center;
    font-weight: 200;
    font-size: 3rem;
    padding-top: 100px;
    color: white;
}

.services {
    display: flex;
    justify-content: space-between;
}

.service-card {
    width: 32%;
    text-align: center;
    color: white;
}

.service-card p {
    width: 80%;
    margin: 0% 10% 5% 10%;
    opacity: 0.5;
}

.icon {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.icon img {
    width: 3rem;
}

.buttons {
    text-align: center;
}

.page4 {
    margin: 100px auto;

}

.section-title-dark {
    text-align: justify;
    font-size: 3rem;
    font-weight: 250;
    color: #514460;
}

.page4 p {
    color: #514460;
    margin: 40px auto;
    font-weight: 200;
}

.portfolio-menu {
    display: flex;
    color: #514460;
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 50px;
}

.portfolio-menu span {
    cursor: pointer;
    padding: 30px;

}


.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 180px;
    gap: 25px;
}


.portfolio-item {
    width: 100%;
    height: 100%;
    border: solid 10px #C2DDE6;
}

.portfolio-item:nth-child(1),
.portfolio-item:nth-child(5) {
    grid-row: span 2;
    border: solid 10px #D1D1D1 ;

}

.portfolio-item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.hidden-box {
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
    background: rgba(17, 18, 49, 0.9);
    bottom: 160px;
    right: -1px;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hidden-box img {
    margin-top: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.hidden-box span {
    font-weight: 700;
}

.hidden-box p {
    font-weight: 500;
    line-height: 0.1;
    margin: 10px;
}

.sk {
    bottom: 365px;
}

.sk img{
        margin-top: 150px;

}

.portfolio-item img:hover + .hidden-box {
    display: block;
}

.section5 {
    background: url(images/img-4.jpg) center/cover;
    
    color: white;
    margin: 100px auto;
    font-weight: 500;
}

.section5 span {
    font-size: xx-large;
    font-weight: 700;
}

.icons {
    padding-top: 100px;
    display: flex;
}

.yellow:hover {
    color: #D0A904;
}


.pricing-plans {
    text-align: center;
    color: #514460;
    margin: 50px auto;
}

.title p {
    margin: 50px auto 80px;
    opacity: 0.5;
}

.plan-cards {
    display: flex;
}

.plan-card {
    background-color: white;
    box-shadow: black;
    font-weight: 300;
    margin: auto 15px;
    padding: 30px;
}

.plan-card span {
    font-size: x-large;
    font-weight: 600;
    line-height: 2.5;
}

.hide {
    opacity: 0.3;
}

.btn2-outline {
    border: 2px solid #514460;
    background: none;
    color: #514460;
    margin-bottom: 10px;
}

.testimonials {
    background: url(images/img-3.jpg) center/cover;
    color: white;
}

.testimonial {
    padding: 100px;
}

.T-title {
    font-weight: 200;
    line-height: 5;
    display: flex;
    justify-content: space-between;
}

.T-title h2 {
    font-size: 3rem;
    font-weight: 200;
}

.T-title img {
    height: 100px;
    color: white;
    padding: 40px;
    background: rgba(255, 255, 255, 0.15);
}

.T-title img:hover {
    background-color: #D0A904;
    color: white
}

.testimony-cards {
    display: flex;
    line-height: 3;
}

.testimony-card {
    margin-right: 30px;
}

.testimony-card img {
    border-radius: 50%;
    height: 100px;
}

.testimony-card p {
    line-height: 1.5;
    opacity: 0.5;
}

.blog {
    padding: 100px;
    color: #514460;
}

.blog p {
    opacity: 0.5;
}

.posts {
    display: flex;
}

.post {
    background-color: white;
    margin-right: 30px;
    width: calc(100/3);
}

.post img {
    width: 100%;
}

.post span {
    font-size: x-large;
    font-weight: 400;
    padding-bottom: 50px;
}

.post div {
    padding: 30px;
    padding-bottom: 0px;
}

.footer {
    background-color: #3A376C;
    color: white;
    font-weight: 500;
    padding-left: 100px;
}

footer img {
    height: 80px;
}

.quick-links {
    margin: 40px auto;
    display: flex;
    width: 100%;
}

.links {
    width: calc(100/4);
    margin-right: 60px;
    flex: 1;
}

.links span {
    font-weight: 600;
    font-size: x-large;
    line-height: 3;

}

.links li{
    opacity: 0.8;
    font-size: small;
    padding: 0;
}

.parent {
    display: flex;
    background-color: white;
    border-radius: 50px;
    padding-left: 30px;
    overflow: hidden;
    width: 70%;
    height: 60px;
}

.parent input {
    width: 70%;
}

.child {
    background-color: #D0A904;
    width: 30%;
    text-align: center;
}

.child img {
    width: 25px;
}

.footer input {
    border: none;
}

.copyright {
    color: white;
    opacity: 0.3;
    text-align: center;
}