* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.mainbody {
    font-family: sans-serif;
    font-size: 16px;
}

.navbar {
    background-color: #DDDDDD;
    display: flex;
    max-height: 120px;
    padding: 0% 60px;

}

.logo {
    flex: 0.5;

}

.logo img {
    max-height: 80px;
    min-height: 10px;
}

.tabs {
    flex: 0.35;
    display: flex;
}

.tab {
    text-align: center;
    padding: 10px;
    flex: 1;
    color:#296598;
    font-size: 1.5rem;
}

.tab:hover {
    background-color: black;
    color: white;
    transition: all 0.2s ease-in-out;
}

.banner {
    background-color: #06A3CC;
    padding: 30px 0px;
    text-align: center;
    height: 200px;
    display: flex;
}

.b {
    flex: 1;
    display: inline-block;
    padding: 2%;
    margin: 0% 6%;
    font-size: xx-large;
}

.sign {
    font-weight: 900;
}

.banner b {
    color: white;
    font-size: xxx-large;
}

.middle {
    align-self: center;
    width: 90%;
    margin: 0px 5px 0px 60px;
    display: inline-block;
    height: 520px;
}

.left {
    width: 40%;
    margin: 10px 0px;
    position: relative;
    display: inline-block;
    height: 99%;
}

.bigbox {
    width: 100%;
    height: 97%;
    display: inline-block;
    background-color: #FFE469;
}

.smallbox {
    display: inline-block;
    background-color: #D39ED6;
    width: 60%;
    height: 70%;
    position: absolute;
    top: 20px;
    left: -30px;
}

.right {
    width: 59%;
    float: right;
    height: 100%;
}

.formbox {
    background-color: #ED8719;
    width: 100%;
    margin: 10px 0px;
    height: 48%;
    padding: 15px;
}

.formbox input,
select {
    background-color: #F8A549;
    border: 0.1px solid #F8AF60;
    box-shadow: #F8AF60;
    color: white;
    margin: 9px;
    padding: 5px 10px;
    width: 60%;
    box-sizing: border-box;
}

#submit {
    width: max-content;
    padding: 10px 30px;
}

.extrabox {
    background-color: #8AE33B;
    height: 46%;
    width: 100%;
    padding: 0px 15px;
}

.footer {
    background-color: #007694;
    text-align: center;
    color: white;
    width: 100%;
    padding: 24px 0px;
    font-size: medium;
}

.footer span {
    padding: 0px 10px;
}