* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.nav a:focus,
.links a:focus {
    outline: 1px solid #3A376C;
    outline-offset: 10px;
    border-radius: 0;
}

.links a:focus,
img:focus {
    outline: 1px solid white;
    outline-offset: 5px;
}

section {
    padding: 100px 0px;
}

/*body*/
.mainbody {
    background: #FBFAFF;
    font-family: 'Poppins', sans-serif;
    color: #514460;
}

/*header*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0;
}

.logo img {
    max-width: 210px;
    object-fit: cover;
    margin: 0;
}

.nav {
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.nav ul {
    display: flex;
}

.nav li {
    flex: 1;
}

li {
    list-style-type: none;
}

ul {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #514460;
}


.nav-item {
    padding: 20px;
    margin: 0px;
    font-size: medium;
    position: relative;
    cursor: pointer;
}

.nav-item:hover,
.portfolio-menu span:hover {
    background: #F6F7FC;
}

.nav-icon {
    max-width: 3rem;
    object-fit: contain;
    border-radius: 50px;
    margin-top: 10px;
}

#blog-tab {
    position: relative;
    display: flex;
}

#blog-tab::after {
    content: "🢓";
    margin: auto 5px;
    margin-top: 7px;
    align-items: center;
    font-size: smaller;
    font-weight: 800;
}
.hover-box{
    display: none;
    padding: 20px 30px;
    position: absolute;
    bottom: -60px;
    right: 45px;
    z-index: 2;
    color: #3A376C;
    background-color: white;
}

#blog-tab:hover + .hover-box{ 
    display: block;
}

/*main*/
/*banner*/
.banner {
    background: url(images/img-1.jpg) center/cover;
    position: relative;

}

.banner::before,
.services-section::before,
.section5::before,
.testimonials::before {
    content: "";
    background: rgba(17, 18, 49, 0.9);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;

}
.overlay{
    z-index: 2;
    position: relative;
}

#banner-id {
    padding-bottom: 40px;
}

.text-center {
    text-align: center;
    color: white;
}

.hero-title {
    font-size: 4.5rem;
    font-weight: 100;
    padding-top: 130px;
    line-height: 1.2;
}

.hero-subtitle {
    font-weight: 300;
    margin-top: 30px;
}

.btn {
    margin: 30px 10px;
    padding: 15px 40px;
    border-radius: 50px;
    font-weight: 600;
    cursor: pointer;
    font-size: small;
    opacity: 0.9;
}

.btn-outline {
    border: 2px solid white;
    background: none;
    color: white;
}

.btn2-outline:hover,
.btn-outline:hover {
    background: #D0A904;
    border: 2px solid #D0A904;
    color: white;
}

.down-arrow {
    width: 20px;
    margin-top: 100px;
}

/*page2*/
.page-display {
    display: flex;
}

/*Generic*/

.content-left {
    color: #514460;
    flex: 0.8;
    padding: 10px;
}

.content-left h2 {
    font-size: 4rem;
    font-weight: 200;
}

.content-left p {
    margin: 30px 0px;
    font-size: medium;
    opacity: 0.5;
    width: 90%;
}

.content-right {
    flex: 1.2;
}

.highlight {
    font-weight: 700;
}

/*Generic*/

.point {
    display: flex;
    padding: 30px 0;
    align-items: center;
    gap: 15px;
    font-size: large;
    font-weight: 400;
}

.point img {
    width: 34px;
}

.content-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Service Section*/
.services-section {
    background: url(images/img-2.jpg) center/cover;
    position: relative;
    color: white;
    text-align: center;
}

.section-title {
    font-weight: 200;
    font-size: 3rem;
}

.services {
    display: flex;
    justify-content: space-between;
}

.service-card {
    width: calc(100/3);
}

.icon {
    margin: 40px auto;
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.15);
    align-items: center;
    justify-content: center;
}

.icon img {
    object-fit: cover;
    width: 2.8rem;
}

.service-card p {
    margin: 20px;
    font-size: 15px;
    opacity: 0.9;
}

/*Portfolio Page*/
.section-title-dark {
    text-align: justify;
    font-size: 3rem;
    font-weight: 250;
    color: #514460;
}

.page4 p {
    color: #514460;
    margin: 30px auto;
    font-weight: 300;
    opacity: 0.8;
}

.portfolio-menu {
    display: flex;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 30px;
}

.portfolio-menu span {
    cursor: pointer;
    padding: 30px;

}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 280px;
    gap: 20px;
}


.portfolio-item {
    width: 100%;
    height: 100%;
    position: relative;
}

.portfolio-item:nth-child(1),
.portfolio-item:nth-child(5) {
    grid-row: span 2;
}

.portfolio-item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.hidden-box {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(17, 18, 49, 0.9);
    border: solid 10px #C2DDE6;
    bottom: 0px;
    color: white;
    text-align: center;
}

.hidden-box img {
    margin-top: 75px;
    margin-bottom: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.hidden-box span {
    font-weight: 700;
    margin-top: 50px auto;
}

.hidden-box p {
    font-weight: 500;
    line-height: 0.1;
    margin: 20px;
}

.sk {
    border: solid 10px #CFCFCF;

}

.sk img {
    margin-top: 210px;

}

.portfolio-item:hover > .hidden-box {
    display: block;
}

/*Section 5*/
.section5 {
    background: url(images/img-4.jpg) center/cover;
    position: relative;
    color: white;
    font-weight: 500;
    text-align: center;
}

.section5 span {
    font-size: xx-large;
    font-weight: 700;
}

.icons {
    display: flex;
    padding: auto 50px;
    justify-content: center;
}

.yellow {
    width: 25%;
}

.yellow p {
    font-weight: 600;
    font-size: large;
    margin-bottom: 10px;
}

.yellow:hover {
    color: #D0A904;
}

/*Pricing Plans*/
.pricing-plans {
    text-align: center;
    color: #514460;
}

.title p {
    margin: 50px auto 80px;
    opacity: 0.5;
}

.plan-cards {
    display: flex;
}

.plan-card {
    background-color: white;
    box-shadow: 1px 1px 1px 1px #E7E9EB;
    font-weight: 300;
    margin: auto 15px;
    padding: 30px;
}

.plan-card span {
    font-size: x-large;
    font-weight: 600;
    line-height: 2.5;
}

.hide {
    opacity: 0.3;
}

.btn2-outline {
    border: 2px solid #514460;
    background: none;
    color: #514460;
    margin-bottom: 10px;
}

/*Testimonials*/
.testimonials {
    background: url(images/img-3.jpg) center/cover;
    position: relative;
    color: white;
}

.T-title {
    font-weight: 200;
    line-height: 5;
    display: flex;
    justify-content: space-between;
}

.T-title h2 {
    font-size: 3rem;
    font-weight: 200;
}

.T-title p {
    font-weight: 400;
    opacity: 0.5;
}

.T-title img {
    height: 100px;
    color: white;
    padding: 40px;
    background: rgba(255, 255, 255, 0.15);
}

.T-title img:hover {
    background-color: #D0A904;
    color: white
}

.testimony-cards {
    display: flex;
    line-height: 2;
}

.testimony-card img {
    border-radius: 50%;
    height: 100px;
    margin: 30px;
}

.testimony-card .highlight {
    margin-bottom: 0;
}

.testimony-card i {
    margin-top: 0;
    font-size: x-small;
}

.testimony-card p {
    line-height: 1.5;
    opacity: 0.5;
}

/*Blog page*/
.blog {
    color: #514460;
}

.blog p {
    opacity: 0.4;
}

.posts {
    display: flex;
}

.post {
    background-color: white;
    margin-right: 30px;
    width: calc(100/3);
    font-size: medium;
}

.post img {
    width: 100%;
}

.post span {
    font-size: large;
    font-weight: 400;
}

.post div {
    padding: 30px;
}

.blog button {
    margin: 15px;
    margin-left: 0;
}

/*Footer*/
.footer {
    background-color: #3A376C;
    color: white;
    font-weight: 500;
}

footer img {
    height: 80px;
}

.quick-links {
    margin: 40px auto;
    display: flex;
    width: 100%;
}

.links {
    width: calc(100/4);
    line-height: 2;
    flex: 1;
}

.links span {
    font-weight: 600;
    font-size: x-large;
    line-height: 3;

}

.links li {
    font-size: small;
    padding: 0;
}

.links a {
    color: white;
    opacity: 0.8;
}

.parent {
    display: flex;
    width: 90%;
    overflow: hidden;
    position: relative;
}

.parent input {
    width: 80%;
    height: 50px;
    border-radius: 50px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    background-color: white;
    padding-left: 30px;
    outline: none;
}

.child {
    background-color: #D0A904;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 20%;
    height: 50px;
    position: absolute;
    right: 0;
    text-align: center;
}

.child img {
    width: 20px;
}

.footer input {
    border: none;
}

.copyright {
    color: white;
    opacity: 0.3;
    text-align: center;
}