body {
    background: #000000;
    font-family: sans-serif;
    font-size: 16px;
}
a{
    color:#ffffff;
}

.main-body {
    background: white;
    padding: 30px;
    margin: 10px auto;
}

.hero {
    background: #E70000;
    display: flex;
    flex-wrap: wrap;
}

.hero-text {
    flex: 1;
    color: white;
    padding: 100px;
}

.hero-text h1 {
    font-size: 4rem;
    font-weight: 100;
    margin-bottom: 12px;
    opacity: 0.9;
}

.hero-text p {
    font-size: 1.2rem;
    line-height: 1.6;
    opacity: 0.8;
}

.hero-logo {
    margin: 50px auto;
    flex: 0.5;
}

.hero-logo img {
    width: 100%;
    min-width: 0.1rem;
    max-width: 16rem;
    padding-right: 30px;
}

.cards {
    background: #E70000;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.card {
    background: #571212;
    border-radius: 0;
    flex: 1;
    padding: 40px 20px;
    color: #f2cfcf;
}

.card h3 {
    font-size: 1.3rem;
    color: white;
}

.card p {
    font-size: 0.9rem;
    opacity: 0.5;
}