body {
    height: 100%;
    background: linear-gradient(135deg, #1a1a1a, #000, #1a1a1a);
    font-family: sans-serif;
}

.container {
    width: 70%;
    background: white;
    margin: 40px auto;
    padding: 40px 30px;
}

.hero {
    background: #E70000;
    overflow: hidden;
    height: 250px;
}

.hero-text {
    width: 44%;
    float: left;
    color: white;
    margin: 40px 0px 40px 40px;
    text-align: justify;

}

.hero-text h1 {
    font-size: 35px;
    margin-bottom: 15px;
}

.hero-text p {
    font-size: 18px;
    line-height: 1.6;
    opacity: 0.8;
}

.hero-logo {
    margin: 30px 10px 50px 0px;
    width: 47%;
    float: right;
    text-align: center;
}

.hero-logo img {
    width: 30%;
}

.cards {
    background: #571212;
    display: inline-block;
}

.card {
    background: #571212;
    width: 32.33%;
    display: inline-block;
    padding: 40px;
    margin: 0px;
    box-sizing: border-box;
    vertical-align: top;
    color: #f2cfcf;
}

.card h3 {
    color: white;
}

.card p {
    font-size: 14px;
    line-height: 1.6;
    opacity: 0.8;
}