* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #000000;
    font-family: sans-serif;
}

.main-body {
    background: white;
    padding: 30px;
    margin: auto;
    width: 75%;
}

.hero {
    background: #E70000;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.hero-text {
    flex: 1;
    color: white;
    padding: 100px;
}

.hero-text h1 {
    font-size: 4.5rem;
    font-weight: 100;
    margin-bottom: 12px;
    opacity: 0.9;
}

.hero-text p {
    font-size: x-large;
    line-height: 1.6;
    opacity: 0.8;
}

.hero-logo {
    margin: 50px auto;
    flex: 0.5;
}

.hero-logo img {
    width: 100%;
    min-width: 100px;
    max-width: 220px;
    object-fit: cover;
}

.cards {
    background: #E70000;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.card {
    background: #571212;
    border-radius: 0;
    flex: 1;
    min-width: 250px;
    padding: 40px ;
    color: #f2cfcf;
}

.card h3 {
    font-size: x-large;
    color: white;
}

.card p {
    font-size:medium;
    opacity: 0.5;
}