*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-body{
    margin: 10px;
    color: black;
}

a{
    color: black;

}

.red-box{
    width: 100px;
    height: 100px;
    background-color: red;
}

.red-box p{
    margin: 10px;
}

