* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(155deg,
            #000000,
            #1a1a1a,
            #000000);
}

a {
    color: #ffffff;
}

.main-body {
    margin: 10px auto;
    background: #ffffff;
    padding: 20px;
}

.header {
    width: 100%;
    padding: 90px 0px;
    background: #FF4DA6;
    margin-bottom: 15px;
}

.section {
    width: 100%;
    display: flex;
    margin-bottom: 15px;
    gap: 15px;
}

.left {
    padding: 200px 0px;
    background: #FF037E;
    flex: 1;
}

.right {
    padding: 200px 0px;
    background: #CE0468;
    flex: 0.5;
}

.footer {
    width: 100%; 
    padding: 90px 0px;
    background: #802755;
}

.header,
.left,
.right,
.footer {
    transition: all 0.3s ease-out;
}

.header:hover,
.left:hover,
.right:hover,
.footer:hover {
    transform: scale(1.02);
}