* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    background: linear-gradient(135deg, #1a1a1a, #000, #1a1a1a);
    font-family: sans-serif;
    font-size: 16px;
}

.container {
    width: 90%;
    background: white;
    margin: 40px auto;
    padding: 30px;
}

.hero {
    background: #E70000;
    display: flex;
}

.hero-text {
    flex: 1;
    color: white;
    padding: 30px 70px;
}

.hero-text h1 {
    font-size: 4.5rem;
    font-weight: 100;
    margin-bottom: 12px;
}

.hero-text p {
    font-size: 1.5rem;
    line-height: 1.6;
    opacity: 0.8;
}

.hero-logo {
    flex: 1;
    text-align: center;
}

.hero-logo img {
    height: 100%;
    min-height: 10rem;
    max-height: 18rem;
    
}

.cards {
    background: #571212;
    display: flex;
}

.card {
    background: #571212;
    flex: 1;
    padding: 40px;
    color: #f2cfcf;
}

.middle {
    border-left: 3px solid #e60000;
    border-right: 3px solid #e60000;
}

.card h3 {
    font-size: 2rem;
    color: white;
}

.card p {
    font-size: 1.3rem;
    line-height: 1.6;
    opacity: 0.5;
}