* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    background: #F5F4FA;

}

.mainbody {
    background: #F5F4FA;
    font-family: 'Poppins', sans-serif;
    color: black;
    font-weight: 300;
}

.wrapper {
    width: 90%;
    margin: auto;
    padding-top: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {

    width: 100%;
    max-width: 150px;
    min-width: 70px;
}

.nav {
    display: flex;
    align-items: center;
}

.nav-item {
    padding: 18px;
    font-size: medium;
    cursor: pointer;
}

.nav-item:hover,
.portfolio-menu span:hover {
    width: max-content;
    background: #F6F7FC;
}

.nav-icon {
    width: 3rem;
    flex: 1.5;
}

.select {
    color: rgba(17, 18, 49, 0.9);
    margin-right: 20px;
}

.banner {
    background: url(images/img-1.jpg) no-repeat center/cover;
}

.overlay {
    background: rgba(17, 18, 49, 0.9);
    padding-bottom: 50px !important;
}

.text-center {
    text-align: center;
    color: white;
}

.hero-title {
    font-size: 5rem;
    font-weight: 100;
    padding-top: 230px;
    line-height: 1.2;
    margin: -0.45% 0% 0% 0%;
}

.hero-subtitle {
    font-weight: 300;
    margin-top: 30px;
}

.select {
    border: none;
    background: none;
}

.btn {
    padding: 15px 30px;
    border-radius: 50px;
    font-weight: 700;
    cursor: pointer;
    margin: 30px 10px 70px 10px;
    letter-spacing: 2px;
}

.btn-outline {
    border: 2px solid white;
    background: none;
    color: white;
}

.btn2-outline:hover,
.btn-outline:hover {
    background: #D0A904;
    border: 2px solid #D0A904;
    color: white;
}

.down-arrow {
    width: 12px;
    margin-top: 60px;
}

.page2 {
    display: flex;
    gap: 5%;
    color: #514460;
    margin: 100px auto;
}

.content-left {
    flex: 1;
}

.content-left h2 {
    font-size: 3rem;
    font-weight: 200;
    margin-bottom: 0;
}

.content-left p {
    margin-top: 10px;
    width: 80%;
    font-weight: 200;
}

.content-right {
    flex: 1;
}

.content-right img {
    width: 100%;
    object-fit: cover;
}

.highlight {
    font-weight: 700;
}

.point {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 30px 0;
    font-size: large;
    font-weight: 600;
}

.point img {
    width: 10%;
}

.services-section {
    background: url(images/img-2.jpg) center/cover;

}

.section-title {
    text-align: center;
    font-weight: 200;
    font-size: 3rem;
    padding-top: 100px;
    color: white;
}

.services {
    font-weight: 200;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.service-card {
    width: 32%;
    text-align: center;
    color: white;
}

.service-card p {
    width: 80%;
    margin: 0% 10% 5% 10%;
}

.icon {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.icon img {
    width: 3rem;
}

.buttons {
    text-align: center;
}

.page4 {
    margin: 100px auto;

}

.section-title-dark {
    text-align: justify;
    font-size: 3rem;
    font-weight: 250;
    color: #514460;
}

.page4 p {
    color: #514460;
    margin: 40px auto;
    font-weight: 200;
}

.portfolio-menu {
    display: flex;
    color: #514460;
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 50px;
}

.portfolio-menu span {
    cursor: pointer;
    padding: 30px;

}


.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 180px;
    gap: 25px;
}

.portfolio-item:nth-child(1),
.portfolio-item:nth-child(5) {
    grid-row: span 2;
}

.portfolio-item {
    width: 100%;
    height: 100%;
}

.portfolio-item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.portfolio-item:nth-child(2):hover,
.portfolio-item:nth-child(3):hover,
.portfolio-item:nth-child(4):hover,
.portfolio-item:nth-child(6):hover,
.portfolio-item:nth-child(7):hover {
    transform: scale(0.94);
    transition: 1sec ease-in-out;
    border: solid 12px #C1DCE5;
}

.portfolio-item:nth-child(1):hover,
.portfolio-item:nth-child(5):hover {
    transform: scale(0.94);
    transition: 1sec ease-in-out;
    border: solid 12px #CFCFCF;
}

.hidden-overlay {
    background: rgba(17, 18, 49, 0.9);
    display: none;
}

.portfolio-item:hover+.hidden-overlay {
    display: block;

}

.section5 {
    background-image: url(images/img-4.jpg);
    background-size: cover;
    color: white;
    margin: 100px auto;
    font-weight: 500;
}

.section5 span {
    font-size: xx-large;
    font-weight: 700;
}

.icons {
    padding-top: 100px;
    display: flex;
}

.yellow:hover {
    color: #D0A904;
}


.pricing-plans {
    text-align: center;
    color: #514460;
    margin: 50px auto;
}

.title p {
    margin: 50px auto 80px;
}

.plan-cards {
    display: flex;
}

.plan-card {
    background-color: white;
    box-shadow: black;
    font-weight: 300;
    margin: auto 15px;
    padding: 30px;
}

.plan-card span {
    font-size: x-large;
    font-weight: 600;
    line-height: 2.5;
}

.hide {
    font-weight: 100;
}

.btn2-outline {
    border: 2px solid #514460;
    background: none;
    color: #514460;
    margin-bottom: 10px;
}

.testimonials {
    background-image: url(images/img-3.jpg);
    background-size: cover;
    color: white;
}

.testimonial {
    padding: 100px;
}

.T-title {
    font-weight: 200;
    line-height: 5;
    display: flex;
    justify-content: space-between;
}

.T-title h2 {
    font-size: 3rem;
    font-weight: 200;
}

.T-title img {
    height: 100px;
    color: white;
    padding: 40px;
    background: rgba(255, 255, 255, 0.15);
    margin: 0;
}

.T-title img:hover {
    background-color: #D0A904;
    color: white
}
.testimony-cards{
    display: flex;
    line-height: 3;
}
.testimony-card{
    margin-right: 30px;
}

.testimony-card img{
    border-radius: 50%;
    height: 100px;
}

.testimony-card p{
    line-height: 1.5;
    font-weight: 200;
}

